# Note: featurewiz must be installed manually into conda envs
featurewiz==0.1.55
matplotlib==3.5.1
numpy==1.21.3
pandas==1.3.5
plotly==5.5.0
scikit-bio==0.5.7
scikit-learn==1.1.1
scikit-optimize==0.9.0
seaborn==0.11.2
xgboost==1.6.1
